<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/hibernatedb?useSSL=false&amp;serverTimezone=GMT%2B8" />
		<property name="username" value="dbuser" />
		<property name="password" value="dbpassword" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
                <value>cn/edu/zjut/po/User.hbm.xml</value>
                <value>cn/edu/zjut/po/Course.hbm.xml</value>
                <value>cn/edu/zjut/po/Choice.hbm.xml</value>
                <value>cn/edu/zjut/po/Question.hbm.xml</value>
                <value>cn/edu/zjut/po/Result.hbm.xml</value>
			</list>
		</property>
	</bean>
	<!-- 配置事务管理器 -->
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    <!-- 定义增强处理拦截方法 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="del*" propagation="REQUIRED" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <!-- 定义事务拦截切面 -->
    <aop:config>
        <aop:pointcut id="allServiceMethod"
            expression="execution(* cn.edu.zjut.service.*.*(..))" />
        <aop:advisor pointcut-ref="allServiceMethod"
            advice-ref="txAdvice" />
    </aop:config>
    <bean id="baseDAO" class="cn.edu.zjut.dao.BaseHibernateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="userDAO" class="cn.edu.zjut.dao.UserDAO"
        parent="baseDAO" />
    <bean id="userService" class="cn.edu.zjut.service.UserService">
        <property name="userDAO" ref="userDAO" />
        <property name="courseDAO" ref="courseDAO" />
    </bean>
    <bean id="userAction" class="cn.edu.zjut.action.UserAction"
        scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    <bean id="courseDAO" class="cn.edu.zjut.dao.CourseDAO"
        parent="baseDAO" />
    <bean id="courseService" class="cn.edu.zjut.service.CourseService">
        <property name="courseDAO" ref="courseDAO" />
        <property name="questionDAO" ref="questionDAO" />
    </bean>
    <bean id="courseAction" class="cn.edu.zjut.action.CourseAction"
        scope="prototype">
        <property name="courseService" ref="courseService" />
    </bean>
    <bean id="questionDAO" class="cn.edu.zjut.dao.QuestionDAO"
        parent="baseDAO" />
    <bean id="questionService" class="cn.edu.zjut.service.QuestionService">
        <property name="questionDAO" ref="questionDAO" />
    </bean>
    <bean id="questionAction" class="cn.edu.zjut.action.QuestionAction"
        scope="prototype">
        <property name="questionService" ref="questionService" />
    </bean>
    <bean id="resultDAO" class="cn.edu.zjut.dao.ResultDAO"
        parent="baseDAO" />
    <bean id="resultService" class="cn.edu.zjut.service.ResultService">
        <property name="resultDAO" ref="resultDAO" />
        <property name="userDAO" ref="userDAO" />
        <property name="questionDAO" ref="questionDAO" />
        <property name="courseDAO" ref="courseDAO" />
    </bean>
    <bean id="resultAction" class="cn.edu.zjut.action.ResultAction"
        scope="prototype">
        <property name="resultService" ref="resultService" />
    </bean>
</beans>